<h1>Cocktails</h1>

<div >
  <% @cocktails.each do |cocktail| %>
    <h2><%= cocktail.name %></h2>
    <%= link_to 'Show', cocktail_path(cocktail), class: "btn btn-primary"  %>
  <% end %>
</div>

<br>
<%= link_to 'Add a cocktail',  new_cocktail_path, class: "btn btn-primary" %>


