<h1>Add a Cocktail</h1>

<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>

<br>
<%= link_to "Cancel", cocktails_path, class: 'btn btn-primary'%>
